---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh; font-family: sans-serif;">
		<Header />
		<main>
			<h1>안녕하세요!</h1>
			<p>이곳은 <b>shelffim</b>님의 개발 회고 블로그입니다.</p>
			<p>GitHub: <a href="https://github.com/shelffim" target="_blank">shelffim</a></p>
		</main>
		<Footer />
	</body>
</html>
